*{
    margin: 0;
    padding: 0;
}
ul,li,a{
    text-decoration: none;
    color: black;
    list-style: none;
}
:root{
    --primary-color:#FF5538;
    --text-color: #29313D;
    --primary-text: 'Open Sans', sans-serif;
    --secondary-text: 'Poppins', sans-serif;
    --rare-text: 'Nunito', sans-serif;
}
#navbar{
    display: flex;
    justify-content: center;
    font-family: var(--primary-text);
}
#navbar .container{
    
    position: absolute;
    z-index: 1;
    width: 1320px;
}

#navbar .nav_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#navbar .menu ul{
    display: flex;
    gap: 20px;
}

#navbar .button button{
    padding: 14px 28px;
    border-radius: 25px;
    border: none;
    background-color:#FF5538 ;
    color: white;
}

/* Banner */
#banner{
    display: flex;
    justify-content: center;
    background: url("/images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 400px;

}

#banner .container{
    position: relative;
    width: 1320px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.banner_content{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--primary-text);
   
}
.banner_content h1{
    font-weight: 700;
    font-size: 40px ;
}
.banner_content p{
    padding-top: 15px;
}

#banner .button{
   padding-top: 20px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 15px;
   
}
#banner .button button{
    padding: 14px 28px;
    border-radius: 25px;
    border: none;
    background-color:#FF5538 ;
    color: white;
    
}
#banner .button button:last-child{
    background-color:white ;
    color:#FF5538;
    border: 1px solid #FF5538;
    padding-left: 30px;
    
}
/* About part */

#about .container{
    
    width: 1320px;
}
#about .container .about-item{
    width: 420px;
    padding: 40px 46px 40px 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 44px 40px rgba(0, 0, 0, 0.02);
}

#about .about-text h3{
    font-size: 22px;
    font-family: var(--secondary-text) ;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 28px;
}

#about .about-text p{
    font-family: var(--rare-text);
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 200%;
    margin-top: 20px;
}

#about{
    display: flex;
    justify-content: center;
}

#about .about-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    top: -350px;
}

/* Digital part */
#digital{
    position: relative;
}
#digital .container{
    width: 1320px;
}

#digital .digital-heading h4{
    font-family: var(--secondary-text);
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
}

#digital .digital-heading h2{
    font-family: var(--secondary-text);
    color: var(--text-color);
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
}
.main{
    display: flex;
    flex-direction: row;
    
}
#digital .main .left{
    width: 50%;
    height: 521px;
    position: absolute;
    top: 150px;
    
} 
#digital .main .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
#digital .main .right{
    width: 60%;
    height: 610px;
    background-color: #fbf3f0;
    padding: 100px 50px 100px 200px;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    z-index: -1;
} 

#digital .main .right .btn{
    background-color: var(--primary-color);
    color: #fff;
    padding: 14px 28px;
    font-family: var(--rare-text);
    border-radius: 18px;
    
}

#digital .main .right h2{
    font-family: var(--secondary-text);
    font-weight: 600;
    font-size: 30px;
    color: var(--text-color);
}

#digital .main .right p{
    font-family: var(--rare-text);
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
    line-height: 36px;
    padding-bottom: 44px;   
}

/* work */
#work{
    padding-top: 600px;
}
#work .container{
    width: 1320px;
}
#work .heading-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

#work .heading-wrapper .head h4{
    font-family: var(--secondary-text);
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

#work .heading-wrapper .head h2{
    font-family: var(--secondary-text);
    color: var(--text-color);
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
}

#work .heading-wrapper .work-btn a{
    padding: 14px 28px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 18px;
}
#work .work-wrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
}
#work .work-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#work .work-item1{
    width: 40%;
   }
#work .work-item2{
 width: 60%;
}
#work .work-img{
    height: 328px;
}
#work .work-content h4{
    font-size: 28px;
    font-family: var(--secondary-text);
    font-weight: 600;
    color: var(--text-color);
    

}
#work .work-content a{
    font-family: var(--rare-text);
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-color);
}
#work .work-content{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    box-shadow: 0px -9px 40px rgba(26, 19, 62, 0.06);
}

#work .work-wrapper .one{
    order: 1;
}
#work .wp1 {
    padding-bottom: 30px;
}

/* Count-part */
#count{
    background: url(/images/Rectangle\ 75.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top:180px;
    padding-bottom: 180px;
}
#count .container{
    width:1320px;
}
#count .count-wrapper{
    display: flex;
    justify-content: space-between;
    
}

#count .box{
    display: flex;
    justify-content: center;
    width:39%;
    flex-wrap: wrap;
    gap:25px;

}

#count .content{
    width:50%;
    
}
#count .count-box{
    padding: 74px 54px;
    text-align: center;
    box-sizing: border-box;
}
#count .count-box h4{
    font-size: 40px;
    font-family: var(--secondary-text);
    font-weight: 600;
    color: var(--text-color);
}

#count .count-box p{
    font-size: 18px;
    font-family: var(--rare-text);
    font-weight: 400;
    color: var(--text-color);
}

#count .content h3{
    font-family: var(--secondary-text);
    font-size: 48px;
    font-weight: 600;
    color: var(--text-color);
    padding-bottom: 20px;
    padding-right:100px;
    text-transform: capitalize;
}
#count .content p {
    font-family: var(--rare-text);
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 36px;
    padding-bottom: 54px;
    padding-right:140px;
    text-align: justify;
}

#count .content a{
    font-family: var(--rare-text);
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: var(--primary-color);
    padding: 14px 28px;
    border-radius: 18px;
}

/* companies part */
#companies .container{
    width: 1320px;
}
#companies h2{
    text-align: center;
    font-family: var(--secondary-text);
    font-weight: 600;
    font-size: 48px;
    line-height: 67.2px;
    padding-right: 216px;
    padding-left: 216px;
    padding-bottom: 60px;
    padding-top: 120px;
}
#companies .companies-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#companies .companies-box{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 49px 41px ;
    background-color: #FDF9F8;
    margin-bottom: 120px;
}

/* Customers Part */

#customer .container{
    width: 1320px;
}

.customer-wrapper{
    display:flex;
    justify-content: space-around;
    
}
.customer-left{
    width: 45%;
}
.customer-left h3{
    font-family: var(--secondary-text);
    font-weight: 600;
    font-size: 48px;
    color: var(--text-color);
    text-transform: capitalize;
    padding-top: 139px;
}
.customer-left p{
    font-family: var(--rare-text);
    font-weight: 400;
    font-size: 20px;
    color: var(--text-color);
    line-height: 36px;
    margin-bottom: 60px;
    text-align: justify;
    
}

.customer-right{
    width: 45%;;
}
.customer-right .background {
    width: 501px;
    height: 557px;
    background-color: #FF5538;
    margin-top: 120px;
    border-radius: 30px;
    margin-bottom: 120px;
    margin-left: 50px;
   
}

.customer-box{
    display: flex;
    justify-content: start;
    gap: 28px;
}

.customer-box .box-item{
 width: 100px;
 height: 100px;
 background-color: #FF5538;
 border-radius: 20px;
 margin-top: 60px;
 margin-bottom: 60px;
}

.customer-left .arrow{
    display: flex;
    align-items: center;
    gap: 40px;
}

.customer-left .arrow .left{
    background-color:  #FFDDD7;
    padding:25px;
}
.customer-left .arrow .right{
    background-color: var(--primary-color);
    padding:25px;
}
.customer-left .arrow h4{
    font-family: var(--primary-text);
    color: var(--text-color);
    font-size: 36px;
    font-weight: 600;
    
}
.arrow-wrapper{
    display: flex;
    gap: 24px;
}
/* Project-part */
#project{
    background-color:  #FFD7C8;
}

.project-wrapper{
    padding: 100px 90px 100px 100px;
}

#project .container{
    width: 1320px;
}
.project-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.project-content h4{
    font-family: var(--secondary-text);
    font-weight: 400;
    font-size: 20px;
    color: var(--text-color);
    padding-bottom: 7px;
   
}
.project-content h2{
    font-family: var(--secondary-text);
    font-weight: 600;
    font-size: 48px;
    color: var(--text-color);
    padding-bottom: 48px;
    
}

.project-btn a{
    padding: 14px 28px;
    background: #FF5538;
    border-radius: 18px;  
    color: #fff;  
    font-family: var(--rare-text);
    font-size: 18px;
}
.project-bottom .line{
    width: 1130px;
    height: 0px;
    border: 1px solid #29313D;
    opacity: 0.2;
    margin-bottom: 24px;
    
}

.project-bottom p{
    font-family: var(--rare-text);
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    /* or 36px */
    text-transform: capitalize;
    color: #29313D;
    opacity: 0.8;
    
}
