*{
    margin: 0;
    padding: 0;
}
ul,li,a{
    text-decoration: none;
    color: black;
    list-style: none;
}
#navbar{
    display: flex;
    justify-content: center;
}
#navbar .container{
    width: 1320px;
}

#navbar .nav_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#navbar .menu ul{
    display: flex;
    gap: 20px;
}
#navbar .logo{
    padding-left: 16px;
}
#navbar .button{
    padding-right: 16px;
}
#navbar .button button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color:#FF5538 ;
    color: white;
}